// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.image-preview {
  background-color: @overlay-background-color;
  border: 1px solid @overlay-border-color;
  border-radius: 6px;
  padding: 8px 12px 12px;
  position: relative;
  top: 5px;
  width: 300px;

  .actions {}

  .btn-close {
    // height: 30px;
    // width: 30px;
  }

  .image-container {
    margin-top: 8px;
    min-height: 40px;
    position: relative;

    img {
      max-width: 100%;
    }
  }

  .spinner {
    animation: loading 1.4s infinite linear;
    background: linear-gradient(to right, @text-color 10%, rgba(255, 255, 255, 0) 42%);
    border-radius: 50%;
    bottom: 0;
    height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;

    &:before {
      background: @text-color;
      border-radius: 100% 0 0 0;
      content: '';
      height: 50%;
      left: 0;
      position: absolute;
      top: 0;
      width: 50%;
    }

    &:after {
      background: @overlay-background-color;
      border-radius: 50%;
      bottom: 0;
      content: '';
      height: 80%;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 80%;
    }
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
